body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

/* Pre-Navigation Bar */

.top-container--1 {
  width: 100vw;
  background-color: #000000;
}

.pre-navigation a {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: #FFFFFF;
  text-decoration: none;
}

.pre-navigation a:hover {
  color: #FFFFFF;
}

.nav-link--1 {
  margin-right: 2px;
}

/* Main Navigation Bar */

.top-container--2 {
  width: 100vw;
  background-color: #FDCB9E;
}

.navbar {
  padding: 0.5% 5%;
  background-color: #FDCB9E;
}

.navbar-brand {  /* Targeting small-screen devices & others */
  width: 60px;  /* Small-screen */
  margin-left: 12px;
  /* background-color: grey; */
}

.navbar-brand img {
  max-width: 100%;
  height: auto;
  width: 60px;  /* Small-screen */
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
  .navbar-brand {
    width: 75px;
  }

  .navbar-brand img {
    width: 75px;
  }
}

.hamburger-icon {
  font-size: 1.8rem;
  color: #000000;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {  /* Targeting medium-screen devices */
  .navbar-toggler {
    transform: translateX(15px);  /* Repositioning Hamburger Icon */
  }

  .navbar-nav {
    margin-top: 8px;
    padding-left: 8px;
  }
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .navbar-nav {
    margin-top: 5px;
    padding-left: 12px;
  }
}

.nav-link {  /* Targeting small-screen devices & others */
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.2rem;  /* Small-screen */
  color: #000000;
  line-height: 1.1;
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
  .nav-link {
    font-size: 1.4rem;
  }
}

.nav-link:hover {
  color: #BD00AA;
}

/* Scroll Button */

.scroll-button {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 40px;
  height: 40px;
  border: none;  /* Removes border */
  outline: none;  /* Removes outline */
  z-index: 99;  /* Prevents overlap */
  cursor: pointer;
  color: #050505;
  background-color: #FDCB9E;
}

.scroll-button:hover {
  color: #292121;
}

/* Flash Messages - Global */

.success-message {
  color: #EEEEEE;
  border-radius: 0;
  background-color: #0F4C75;
}

.error-message {
  color: #EEEEEE;
  border-radius: 0;
  background-color: #FF0000;
}

/* Main Section */

/* Section 1 */

.middle-container--1 {
  width: 100vw;
  padding: 60px 0 80px;
  background-color: #0F4C75;
}

.home-page-sect_a-card-colour--1 {
  border: none;
  background-color: #0F4C75;
}

.home-page-sect_a-text--1 {  /* Targeting small-screen devices & others */
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 3rem;  /* Small-screen */
  color: #FFFFFF;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {  /* Targeting medium-screen devices */
  .home-page-sect_a-text--1 {
    font-size: 3.9rem;
  }
}

@media only screen and (min-width: 992px) {  /* Targeting large-screen devices and up */
  .home-page-sect_a-text--1 {
    font-size: 6rem;
  }
}

.home-page-sect_a-text--2 {
  font-size: 1.3rem;
  color: #FFFF00;
}

.home-page-sect_a-card-colour--2 {
  border-radius: 0;
  background-color: #EEEEEE;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .home-page-sect_a-card-colour--2 {
    transform: translate(-7px) scale(0.9);  /* Centres form body */
  }
}

.home-page-sect_a-text-container--2 {
  width: 95%;
  margin-bottom: 18px;
  /* background-color: #FF0000; */
}

.home-page-sect_a-text--3 {  /* Targeting small-screen devices & others */
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.3rem;  /* Small-screen */
  color: #050505;
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
  .home-page-sect_a-text--3 {
    font-size: 1.5rem;
  }
}

.home-page-sect_a-text-colour {
  color: #050505;
}

.home-page-sect_a-form input {
  border-radius: 0;
}

.home-page-sect_a-button-colour {
  color: #FFFFFF;
  border-radius: 0;
  background-color: #050505;
}

.home-page-sect_a-button-colour:hover {
  color: #FFFFFF;
  background-color: #050505;
}


/* Section 2 */

.middle-container--2 {
  width: 100vw;
  background-color: #00B7C2;
}

.home-page-sect_b-text-container--1 {
  width: 90%;
  margin: auto;
  padding: 80px 0 40px 0;
  text-align: center;
  /* background-color: #FF0000; */
}

.home-page-sect_b-text--1 {  /* Targeting small-screen devices & others */
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;  /* Small-screen */
  color: #050505;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .home-page-sect_b-text--1 {
    transform: translateX(-3px);
  }
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
  .home-page-sect_b-text--1 {
    font-size: 1.8rem;
  }
}

.home-page-sect_b-reasons-container {
  width: 90%;
  margin: auto;
  padding-bottom: 15px;
  /* background-color: grey; */
}

.home-page-sect_b-card--1 {
  border: none;
  background-color: #00B7C2;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .home-page-sect_b-card--1 {
    transform: translateX(-3px);
  }
}

.home-page-sect_b-text-container--2 {
  width: 90%;
  margin: auto;
  text-align: center;
  /* background-color: #FF0000; */
}

.home-page-sect_b-img-container {  /* Targeting smalls-screen devices & others */
  font-size: 2.5rem;  /* Small-screen */
  color: #EEEEEE;
  float: left;
  display: block;
  margin-left: 10px;
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
  .home-page-sect_b-img-container {
    font-size: 3rem;
  }
}

.home-page-sect_b-text--2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.2;
  color: #050505;
}

.home-page-sect_b-hr-container hr {  /* Targeting small-screen devices & others */
  border-style: none;  /* Removes default <hr> border-style(inset) & width(1px) */
  border-top-style: dashed;
  border-width: 5px;
  border-color: #EEEEEE;
  width: 100%;  /* Width is relative to parent 'home-page-sect_b-hr-container' div */
  display: block;  /* Small-screen */
  transform: translateX(-3px);
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
  .home-page-sect_b-hr-container hr {
    display: none;
  }
}

.home-page-sect_b-hr-container {
  width: 60%;
  margin-bottom: 30px;
}

.home-page-sect_b-card--2 {
  border: none;
  background-color: #00B7C2;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .home-page-sect_b-card--2 {
    transform: translateX(-3px);
  }
}

/* Section 3 */

.middle-container--3 {  /* Targeting small-screen devices & others */
  width: 100vw;
  background: linear-gradient(130deg, rgba(41, 33, 33, 0.8), rgba(189, 0, 170, 0.4)), url("../images/img-1a.jpg");  /* Small-screen */
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgb(135, 67, 29);  /* This colour will be used if browser cannot render background image */
  background-color: rgba(135, 67, 29, 0.3);
}

@media only screen and (max-width: 600px) {   /* Targeting small-screen devices */
  .middle-container--3 {
    background-position: 20% 10%;
  }
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
  .middle-container--3 {
    background: linear-gradient(130deg, rgba(41, 33, 33, 0.8), rgba(189, 0, 170, 0.4)), url("../images/img-1b.jpg");
  }
}

.home-page-sect_c-text-container--1 {
  width: 90%;
  margin: auto;
  padding: 20vh 0;
  text-align: center;
  /* background-color: #FF0000; */
}

.home-page-sect_c-text--1 {  /* Targeting small-screen devices & others */
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 2rem;  /* Small-screen */
  color: #FFFFFF;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .home-page-sect_c-text--1 {
    transform: translateX(-3px);
  }
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
  .home-page-sect_c-text--1 {
    font-size: 2.4rem;
  }
}

/* Section 4 */

.middle-container--4 {
  width: 100vw;
  padding-bottom: 80px;
  background-color: #0F4C75;
}

.home-page-sect_d-text-container--1 {
  width: 90%;
  margin: auto;
  padding: 80px 0 15px 0;
  text-align: center;
  /* background-color: #FF0000; */
}

.home-page-sect_d-text--1 {  /* Targeting small-screen devices & others */
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;  /* Small-screen */
  color: #FFFFFF;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .home-page-sect_d-text--1 {
    transform: translateX(-5px);
  }
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
  .home-page-sect_d-text--1 {
    font-size: 1.8rem;
  }
}

.home-page-sect_d-highlight {
  text-decoration: underline solid #000000;
}

.home-page-sect_d-card--1 {
  border-radius: 5px;
  background-color: #EEEEEE;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .home-page-sect_d-card--1 {
    margin-bottom: 7px;  /* Creates space between top & bottom cards */
    transform: translateX(-2px);
  }
}

.home-page-sect_d-card--1:hover {
  transition: 0.2s;
  transform: scale(1.08);
  background-color: #E11D74;
}

.home-page-sect_d-card--1 h3:hover {  /* Changes text colour on hover */
  color: #EEEEEE;
}

.home-page-sect_d-text-container--2 {
  text-align: center;
}

.home-page-sect_d-text--2 {  /* Targeting small-screen devices & others */
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.8rem;  /* Small-screen */
  color: #050505;
  transform: translateY(8px);
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
  .home-page-sect_d-text--2 {
    font-size: 2.2rem;
  }
}

.home-page-sect_d-card--2 {
  border-radius: 5px;
  background-color: #EEEEEE;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .home-page-sect_d-card--2 {
    transform: translateX(-2px);
  }
}

.home-page-sect_d-card--2:hover {
  transition: 0.2s;
  transform: scale(1.08);
  background-color: #00B7C2;
}

.home-page-sect_d-card--2 h3:hover {  /* Changes text colour on hover */
  color: #EEEEEE;
}

.home-page-sect_d-card--3 {
  border-radius: 5px;
  background-color: #EEEEEE;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .home-page-sect_d-card--3 {
    transform: translateX(-2px);
  }
}

.home-page-sect_d-card--3:hover {
  transition: 0.2s;
  transform: scale(1.08);
  background-color: #FFFF00;
}

.home-page-sect_d-card--3 h3:hover {  /* Changes text colour on hover */
  color: #EEEEEE;
}

.home-page-sect_d-card--4 {
  border-radius: 5px;
  background-color: #EEEEEE;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .home-page-sect_d-card--4 {
    transform: translateX(-2px);
  }
}

.home-page-sect_d-card--4:hover {
  transition: 0.2s;
  transform: scale(1.08);
  background-color: #EC0101;
}

.home-page-sect_d-card--4 h3:hover {  /* Changes text colour on hover */
  color: #EEEEEE;
}

.home-page-sect_d-card--5 {
  border-radius: 5px;
  background-color: #EEEEEE;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .home-page-sect_d-card--5 {
    transform: translateX(-2px);
  }
}

.home-page-sect_d-card--5:hover {
  transition: 0.2s;
  transform: scale(1.08);
  background-color: #00FF00;
}

.home-page-sect_d-card--5 h3:hover {  /* Changes text colour on hover */
  color: #EEEEEE;
}

.home-page-sect_d-card--6 {
  border-radius: 5px;
  background-color: #EEEEEE;
}

@media only screen and (max-width: 600px) {
  .home-page-sect_d-card--6 {
    transform: translateY(7px);
  }
}

.home-page-sect_d-card--6:hover {
  transition: 0.2s;
  transform: scale(1.08);
  background-color: #00B7C2;
}

.home-page-sect_d-card--6 h3:hover {  /* Changes text colour on hover */
  color: #EEEEEE;
}

.gsce-row {  /* Creates space beneath row above */
  padding-top: 20px;
}

.home-page-sect_d-card--7 {
  border-radius: 5px;
  background-color: #EEEEEE;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .home-page-sect_d-card--7 {
    transform: translateX(-2px);
  }
}

.home-page-sect_d-card--7:hover {
  transition: 0.2s;
  transform: scale(1.08);
  background-color: #FFFF00;
}

.home-page-sect_d-card--7 h3:hover {  /* Changes text colour on hover */
  color: #0000FF;
}

.home-page-sect_d-card--8 {
  border-radius: 5px;
  background-color: #EEEEEE;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .home-page-sect_d-card--8 {
    transform: translateX(-2px);
  }
}

.home-page-sect_d-card--8:hover {
  transition: 0.2s;
  transform: scale(1.08);
  background-color: #00FF00;
}

.home-page-sect_d-card--8 h3:hover {  /* Changes text colour on hover */
  color: #EEEEEE;
}

.subjects-row--1 {  /* Creates space beneath row above */
  padding-top: 60px;
}

.home-page-sect_d-card--9 {
  border: none;
  background-color: #0F4C75;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .home-page-sect_d-card--9 {
    transform: translateX(-3px);
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {  /* Targeting medium-screen devices */
  .home-page-sect_d-card--9 {
    transform: translateX(-1.5%);
  }
}

.home-page-sect_d-text-img-container {
  text-align: center;
}

.home-page-sect_d-img-container {
  font-size: 2.8rem;
  /* color: #7E0FC5; */
  color: #FFFF00;
  display: inline-block;
}

.home-page-sect_d-text--3 {  /* Targeting small-screen devices & others */
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 1.9rem;  /* Small-screen */
  color: #EEEEEE;
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
  .home-page-sect_d-text--3 {
    font-size: 2.2rem;
  }
}

.home-page-sect_d-card--10 {
  border: none;
  background-color: #0F4C75;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .home-page-sect_d-card--10 {
    transform: translateX(-3px);
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {  /* Targeting medium-screen devices */
  .home-page-sect_d-card--10 {
    transform: translateY(5%);
  }
}

.home-page-sect_d-card--11 {
  border: none;
  background-color: #0F4C75;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .home-page-sect_d-card--11 {
    transform: translateX(-3px);
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {  /* Targeting medium-screen devices */
  .home-page-sect_d-card--11 {
    transform: translateY(5%);
  }
}

.home-page-sect_d-card--12 {
  border: none;
  background-color: #0F4C75;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .home-page-sect_d-card--12 {
    transform: translateX(-3px);
  }
}

@media only screen and (min-width: 768px) and (max-width: 982px) {  /* Targeting medium-screen devices */
  .home-page-sect_d-card--12 {
    transform: translateY(5%);
  }
}

.subjects-row--2 {
  padding-top: 20px;
}

.home-page-sect_d-card--13 {
  border: none;
  background-color: #0F4C75;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .home-page-sect_d-card--13 {
    transform: translateX(-3px);
  }
}

.home-page-sect_d-card--14 {
  border: none;
  background-color: #0F4C75;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .home-page-sect_d-card--14 {
    transform: translateX(-3px);
  }
}

.home-page-sect_d-card--15 {
  border: none;
  background-color: #0F4C75;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .home-page-sect_d-card--15 {
    transform: translateX(-3px);
  }
}

/* Section 5 */

.middle-container--5 {
  width: 100vw;
  padding-bottom: 40px;
  background-color: #00B7C2;
}

.home-page-sect_e-text-container--1 {
  width: 90%;
  margin: auto;
  padding: 80px 0 10px 0;
  text-align: center;
  /* background-color: #FF0000; */
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .home-page-sect_e-text-container--1 {
    padding-bottom: 30px;
  }
}

.home-page-sect_e-text--1 {  /* Targeting small-screen devices & others */
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;  /* Small-screen */
  color: #050505;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .home-page-sect_e-text--1 {
    transform: translateX(-3px);
  }
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
  .home-page-sect_e-text--1 {
    font-size: 1.8rem;
  }
}

.home-page-sect_e-card--1 {
  border: none;
  background-color: #00B7C2;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .home-page-sect_e-card--1 {
    transform: translateX(-3px);
  }
}

.home-page-sect_e-text--2 a {  /* Targeting small-screen devices & others */
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 1.8rem;  /* Small-screen */
  color: #050505;
  text-decoration: none;
}

.home-page-sect_e-text--2:hover {
  transition: all 1.2s linear;
  transform: rotate(-25deg) scale(1.03);
  text-shadow: 3px 3px 2.5px #292121;
  background-color: #EEEEEE;
  border-radius: 5px;
  padding: 5px;
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
  .home-page-sect_e-text--2 {
    font-size: 2.4rem;
  }
}

.home-page-sect_e-card--2 {
  border: none;
  background-color: #00B7C2;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .home-page-sect_e-card--2 {
    transform: translateX(-3px);
  }
}

.home-page-sect_e-card--3 {
  border: none;
  background-color: #00B7C2;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .home-page-sect_e-card--3 {
    transform: translateX(-3px);
  }
}

.home-page-sect_e-card--4 {
  border: none;
  background-color: #00B7C2;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .home-page-sect_e-card--4 {
    transform: translateX(-3px);
  }
}

.home-page-sect_e-card--5 {
  border: none;
  background-color: #00B7C2;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .home-page-sect_e-card--5 {
    transform: translateX(-3px);
  }
}

/* Section 6 */

.middle-container--6 {  /* Targeting small-screen devices & others */
  width: 100vw;
  padding: 50px 0 10px 0;  /* Small-screen */
  background-color: #0F4C75;
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
  .middle-container--6 {
    padding: 120px 0 80px 0;
  }
}

.home-page-sect_f-card--1 {
  transition: 0.5s;
  border-radius: 0;
  box-shadow: 5px -5px 4.3px 1.3px #050505;
  background-color: #EEEEEE;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .home-page-sect_f-card--1 {
    transform: translateX(-7px) scale(0.85);
  }
}

.card-contents--1 {
  text-align: center;
}

.home-page-sect_f-text--1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 2.3rem;
  color: #050505;
}

.home-page-sect_f-text-container--2 {
  margin: 15px 0 25px 0;
  background-color: #7E0FC5;
}

.home-page-sect_f-text--2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  color: #FFFFFF;
}

.list-group-item {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #FFFF00;
  background-color: #000000;
}

.home-page-sect_f-icon {
  font-size: 0.5rem;
  color: #FFFFFF;
}

/* MODAL TRIGGER  */

.home-page-sect_f-button-colour--2 {
  color: #FFFFFF;
  border-radius: 0;
  background-color: #000000;
}

.home-page-sect_f-button-colour--2:hover {
  color: #FFFFFF;
  background-color: #000000;
}

.home-page-sect_f-card--2 {
  transition: 0.5s;
  border-radius: 0;
  box-shadow: 5px -5px 4.3px 1.3px #050505;
  background-color: #EEEEEE;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .home-page-sect_f-card--2 {
    transform: translate(-7px, -53px) scale(0.85);
  }
}

/* Section 7 */

.middle-container--7 {
  width: 100vw;
  background-color: #00B7C2;
}

.home-page-sect_g-text-container--1 {
  width: 90%;
  margin: auto;
  padding-top: 80px;
  text-align: center;
  /* background-color: #FF0000; */
}

.home-page-sect_g-text--1 {  /* Targeting small-screen devices & others */
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;  /* Small-screen */
  color: #050505;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .home-page-sect_g-text--1 {
    transform: translateX(-5px);
  }
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
  .home-page-sect_g-text--1 {
    font-size: 1.8rem;
  }
}

.home-page-sect_g-button-container {
  width: 90%;
  margin: auto;
  padding: 15px 0 75px 0;
  text-align: center;
}

.home-page-sect_g-button-colour--1 {
  color: #FFFFFF;
  border-radius: 0;
  background-color: #050505;
}

.home-page-sect_g-button-colour--1:hover {
  color: #FFFFFF;
  background-color: #050505;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .home-page-sect_g-button-colour--1 {
    transform: translateX(-3px);
  }
}

@media only screen and (min-with: 992px) {
  .home-page-sect_g-button-colour--1 {
    transform: scale(1.5);
  }
}

.home-page-sect_g-modal-content {
  background-color: #EEEEEE;
}

.home-page-sect_g-modal-title {  /* Targeting small-screen devices & others */
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;  /* Small-screen */
  color: #000000;
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
  .home-page-sect_g-modal-title {
    font-size: 1.8rem;
  }
}

.home-page-sect_g-modal-card-colour {
  border-radius: 0;
  background-color: #111111;
}

.home-page-sect_g-form-input input {
  border-radius: 0;
}

.home-page-sect_g-form-input textarea {
  border-radius: 0;
}

.home-page-sect_g-text-colour--1 {
  color: #FFFF00;
}

.home-page-sect_g-text-colour--2 {
  color: #FFFFFF;
}

.home-page-sect_g-highlight {
  color: #00FF00;
}

.home-page-sect_g-button-colour--2 {
  color: #000000;
  border-radius: 0;
  background-color: #00B7C2;
}

.home-page-sect_g-button-colour--2:hover {
  color: #000000;
  background-color: #00B7C2;
}

.thankyou_message {
  text-align: center;
}

.form-submit--message {  /* Targeting small-screen devices & others */
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;  /* Small-screen */
  color: #FFFF00;;
}

@media only screen and (min-width: 7689px) {  /* Targeting medium-screen devices and up */
  .form-submit--message {
    font-size: 1.8rem;
  }
}

.home-page-sect_g-button-colour--3 {
  color: #FFFFFF;
  border-radius: 0;
  background-color: #000000;
}

.home-page-sect_g-button-colour--3:hover {
  color: #FFFFFF;
  background-color: #000000;
}

/* Section 8 */

.middle-container--8 {
  width: 100vw;
  position: relative;
  background-color: #0F4C75;
}

/* Shape Divider */

.custom-shape-divider-bottom-1601307827 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1601307827 svg {
    position: relative;
    display: block;
    width: calc(145% + 1.3px);
    height: 38px;
}

.custom-shape-divider-bottom-1601307827 .shape-fill {
    fill: #000000;
}

.home-page-sect_h-text-img-container--1 {
  width: 90%;
  margin: auto;
  text-align: center;
  padding: 80px 0 40px 0;
  /* background-color: #FF0000; */
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .home-page-sect_h-text-img-container--1 {
    padding-top: 60px;
  }
}

.home-page-sect_h-img-container--1 {
  font-size: 3.5rem;
  color: #FFFF00;
  display: inline-block;
}

.home-page-sect_h-img-container--1 {
  margin-top: 35px;
}

.home-page-sect_h-text--1 {  /* Targeting small-screen devices & others */
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;  /* Small-screen */
  color: #FFFFFF;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .home-page-sect_h-text--1 {
    transform: translateX(-3px);
  }
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
  .home-page-sect_h-text--1 {
    font-size: 1.8rem;
  }
}

.home-page-sect_h-text--2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #FFFFFF;
}

.home-page-sect_h-img-container--2 {
  font-size: 0.75rem;
  color: #FFFF00;
  display: inline-block;
}

.home-page-sect_h-reviews-container {  /* Targeting small-screen devices & others */
  width: 90%;
  margin: auto;
  padding-bottom: 100px;  /* Small-screen */
  /* background-color: grey; */
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
  .home-page-sect_h-reviews-container {
    padding-bottom: 130px;
  }
}

.home-page-sect_h-card--1 {
  transition: 0.3s;
  border-radius: 0;
  background-color: #111111;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .home-page-sect_h-card--1 {
    margin-bottom: 15px;
    transform: translateX(-5px);
  }
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
  .home-page-sect_h-card--1:hover {
    transform: scale(1.02);
  }
}

.home-page-sect_h-text-img-container--2 {
  text-align: center;
}

.home-page-sect_h-img-container--3 {
  font-size: 1.3rem;
  color: #FFFF00;
  display: inline-block;
}

.home-page-sect_h-text-container--2 {
  margin-top: 20px;
}

.home-page-sect_h-text--3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #FFFFFF;
}

.home-page-sect_h-img-container--4 {
  font-size: 0.7rem;
  color: #FFFF00;
  display: inline-block;
}

.home-page-sect_h-text-container--3 {
  margin-top: 35px;
}

.home-page-sect_h-footer-text--1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 0.85rem;
  color: #FFFFFF;
}

.home-page-sect_h-footer-text--2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 0.85rem;
  color: #FFFFFF;
}

.home-page-sect_h-card--2 {
  transition: 0.3s;
  border-radius: 0;
  background-color: #111111;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .home-page-sect_h-card--2 {
    margin-bottom: 15px;
    transform: translateX(-5px);
  }
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
  .home-page-sect_h-card--2:hover {
    transform: scale(1.02);
  }
}

.home-page-sect_h-card--3 {
  transition: 0.3s;
  border-radius: 0;
  background-color: #111111;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .home-page-sect_h-card--3 {
    margin-bottom: 15px;
    transform: translateX(-5px);
  }
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
  .home-page-sect_h-card--3:hover {
    transform: scale(1.02);
  }
}

/* Footer */

.home-page-bottom-container {
  width: 100vw;
  line-height: 12vh;
  background-color: #000000;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {  /* Targeting medium-screen devices */
  .home-page-bottom-container {
    line-height: 6vh;
  }
}

.home-page-footer-text--1 {  /* Targeting small-screen devices & others */
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 0.8rem;  /* Samll-screen */
  color: #FFFF00;
}

@media only screen and (max-width: 600px) {  /* Targeting small-screen devices */
  .home-page-footer-text--1 {
    display: inline-block;
    transform: translate(-5px, 10px);
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {  /* Targeting medium-screen devices */
  .home-page-footer-text--1 {
    display: inline-block;
    transform: translateY(5px);
  }
}

@media only screen and (min-width: 768px) {  /* Targeting medium-screen devices and up */
  .home-page-footer-text--1 {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 600px) {  /* Brings last word of footer closer to the text above */
  .home-page-footer-text--2 {
    display: inline-block;
    transform: translateY(-18px);
  }
}
